.vectorContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 4rem;
}

.questionInputContainer {
    border-radius: 0.375rem;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.14),
        0 0 2px rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 15px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionInputTextArea {
    flex: 1;
}

.spinner {
    margin-top: 1rem;
}

.searchResultsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}

.semanticAnswerCard {
    border-radius: 0.375rem;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.14),
        0 0 2px rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 15px;
    background: white;
    display: flex;
    margin-bottom: 1rem;
    height: 200px;
}

.searchResultCard {
    border-radius: 0.375rem;
    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.14),
        0 0 2px rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 10px;
    background: white;
    display: flex;
    margin-bottom: 1rem;
    height: 180px;
}

.resultCardContainer {
    min-width: 25%;
    width: 100%;
}

.titleContainer {
    width: 75%;
}

.textContainer {
    flex: 1;
    max-width: 100%;
}

.scoreContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
}

.searchResultCardTitle {
    font-size: 18px;
    margin-bottom: 0;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.category {
    display: inline-block;
    background-color: #0078d4;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    margin-top: 10px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: fit-content;
}

.score {
    font-size: 12px;
    color: #0078d4;
    font-weight: bold;
    text-align: right;
}

.vectorSettingsSeparator {
    margin-top: 15px;
}

.sampleCardsContainer {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    justify-content: center;
}

.retrievalMode {
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.checkboxSemanticCaption {
    margin-top: 15px;
    margin-left: 15px;
}

.approach {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0;
    font-weight: 500;
    height: 25px;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.content {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
